HardwareSpec = {
    "H800":
    {
        "compute_ablility":
         {
            "int4": 0,
            "int8": 3958 * 2 ** 40,
            "fp8": 3958 * 2** 40,
            "tf32": 989 * 2 ** 40,
            "fp32": 60 * 2 ** 40,
            ""

            "bfloat16": 1979 * 2 ** 40,
            "float16": 1979 * 2 ** 40,
         },
        "arch": "hopper",
        "usage": ["train", "infer"],
        "cuda_core": 16896,
        "tensor_core": 528,
        "rt_core": 0,
        "memory_size": 80 * 2 * 30,
        "memory_type": "hbm3",
        "bandwidth": 3500 * 2 ** 30,
    },

    "A10":
    {
        "compute_ablility": 
         {
            "bfloat16": 125 * 2 ** 40,
            "float16": 125 * 2 ** 40,
         },
   
        "bandwidth": 600 * 2 ** 30,
    },



    "H100":
    {
        "compute_ablility":
         {
            "bfloat16": 1979 * 2 ** 40,
            "float16": 1979 * 2 ** 40,
         },
        "bandwidth": 3500 * 2 ** 30,
    }
}